<%-include("./partials/header")-%>

<body id='body' class="flex ">

  <div class="absolute bottom-0 flex justify-center" id="habilities">
    habilities
  </div>

  <div id="map" class=" flex">

    <%-include("./partials/map_component")-%>

  </div>

  </main>

</body>

</html>