<% for(let i = 0; i < habilities.length; i++)  { %>



<%  console.log(habilities[i].id) %>
<div hx-target="#map" hx-swap="innerHTML" hx-get="/select-ability/<%= habilities[i].id %>">
  <img class="filter grayscale max-w-md bg-red-300" src="<%= habilities[i].imagePath %>" />
  <p><%= habilities[i].name %></p>
</div>
<% } %>