<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="./styles/style.css" type="text/css" />
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <title>Valorant Clone</title>
  <style>
    /* tailwind doesnt work y ou can check */
    .bg-brimstone {
      background-color: #f39353;
    }

    .bg-phoenix {
      background-color: #febe64;
    }

    .bg-sage {
      background-color: #75cdf0;
    }

    .bg-sova {
      background-color: #4c80ba;
    }

    .bg-viper {
      background-color: #19c55d;
    }

    .bg-cypher {
      background-color: #919298;
    }

    .bg-reyna {
      background-color: #b35dfa;
    }

    .bg-killjoy {
      background-color: #ffee32;
    }

    .bg-breach {
      background-color: #e15720;
    }

    .bg-omen {
      background-color: #7c7eb8;
    }

    .bg-jett {
      background-color: #c2d1ea;
    }

    .bg-raze {
      background-color: #fedf72;
    }

    .bg-skye {
      background-color: 70883c;
    }

    .bg-yoru {
      background-color: #4986fe;
    }

    .bg-astra {
      background-color: #9844c2;
    }

    .bg-kayo {
      background-color: #9770f3;
    }

    .bg-chamber {
      background-color: #b89a67;
    }

    .bg-neon {
      background-color: #679aff;
    }

    .bg-fade {
      background-color: #325b73;
    }

    .bg-harbor {
      background-color: #535452;
    }

    .bg-gekko {
      background-color: #b4d349;
    }

    .bg-deadlock {
      background-color: #958f90;
    }
  </style>
</head>

</html>