@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-brimstone {
    background-color: #f39353;
  }
  .bg-phoenix {
    background-color: #febe64;
  }
  .bg-sage {
    background-color: #75cdf0;
  }
  .bg-sova {
    background-color: #4c80ba;
  }
  .bg-viper {
    background-color: #19c55d;
  }
  .bg-cypher {
    background-color: #919298;
  }
  .bg-reyna {
    background-color: #b35dfa;
  }
  .bg-killjoy {
    background-color: #ffee32;
  }
  .bg-breach {
    background-color: #e15720;
  }
  .bg-omen {
    background-color: #7c7eb8;
  }
  .bg-jett {
    background-color: #c2d1ea;
  }
  .bg-raze {
    background-color: #fedf72;
  }
  .bg-skye {
    background-color: 70883c;
  }
  .bg-yoru {
    background-color: #4986fe;
  }
  .bg-astra {
    background-color: #9844c2;
  }
  .bg-kayo {
    background-color: #9770f3;
  }
  .bg-chamber {
    background-color: #b89a67;
  }
  .bg-neon {
    background-color: #679aff;
  }
  .bg-fade {
    background-color: #325b73;
  }
  .bg-harbor {
    background-color: #535452;
  }
  .bg-gekko {
    background-color: #b4d349;
  }
  .bg-deadlock {
    background-color: #958f90;
  }
}
